Source: gmameui
Section: games
Priority: optional
Maintainer: Sérgio Benjamim <sergio_br2@yahoo.com.br>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               zlib1g-dev, 
               libexpat1-dev,
               libgtk2.0-dev,
               libglade2-dev,
               intltool,
               libarchive-dev,
               libvte-dev
               libzip-dev
               libgtkimageview-dev
               gnome-doc-utils
Standards-Version: 3.9.5
Homepage: http://gmameui.sourceforge.net/


Package: gmameui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: sdlmame | xmame-x | xmame-sdl
Description: front-end for the arcade games emulator MAME
 GMAMEUI is a front-end program that helps you run MAME, the Multiple Arcade
 Machine Emulator, allowing you to run your arcade games quickly and easily.
 .
 GMAMEUI is a fork of the defunct GXMame project, with a number of enhancements
 over GXMame, among which the support for SDLMame and for more recent versions
 of MAME.
